@model CookBook.Models.User

<h1>
    Welcome Back @Model.name !
</h1>

<div class="row">
    <div class="col-md-6 d-flex " >
        <div class="row container" style="background-color:#EDE6E4;">
            <div class="col-md-10 pt-5" > 
                <h4>
                    Get that “I’m ready for my certification exam” feeling
                </h4>
                <p>
                    Earn a Professional Cooking Certificate From Leading Institutes
                </p>
            </div>
            <div class="col-md-2">
                <img src="~/Images/cook.jpg" style="max-width: 130px; min-height:200px;"/>
            </div>
        </div>
    </div>
    <div class="col-md-6 d-flex" >
        <div class="row container " style="background-color:#EDE6E4;">
            <div class="col-md-10 pt-5" > 
                <h4>
                    Get that “I’m ready for my certification exam” feeling
                </h4>
                <p>
                    Earn a Professional Cooking Certificate From Leading Institutes
                </p>
            </div>
            <div class="col-md-2">
                <img src="~/Images/cook.jpg" style="max-width: 130px; min-height:200px;"/>
            </div>
        </div>
    </div>
</div>

