@model CookBook.Models.User
@{
    Layout="_Layout";
}

<div style="margin:auto; max-width:500px;">
    <form method="post" asp-action="Login">
        <div class="form-outline mb-4">
            <label asp-for="email"  class="control-label"></label>
            <input asp-for="email" class="form-control"/>
        </div>
        <div class="form-outline mb-4">
            <label asp-for="password"  class="control-label"></label>
            <input asp-for="password" class="form-control"/>
        </div>
        <div>
            <button class="btn btn-primary">Login</button>
        </div>
    </form>
</div>